.filter-btn{
    border: none;
    text-align: center;
    background-color: inherit;
    font-weight: bold;
    outline: 0;
    color: $primary;
}
.avatar-feeds{
    @include avatar;
    width: 30px;
    height: 30px;
}