<div class="nav flex-column sidebar" aria-orientation="vertical">
   <a href="#"><img class="mt-3" src="../../../../../assets/images/logo.png" width="180"></a> 
   
   <div class="mx-5">
    <h6 class="mb-2">Menu</h6>
    <a class="nav-link text-secondary" href="#"> <i class="fa fa-home px-2"></i>Home</a>
    <a class="nav-link text-secondary" href="#"><i class="fa fa-commenting" aria-hidden="true"></i> Messages</a>
    <a class="nav-link text-secondary" href="#"><i class="fa fa-user px-2" aria-hidden="true"></i>Profile</a>
    <a class="nav-link text-secondary" href="#"><i class="fa fa-bookmark px-2" aria-hidden="true"></i>Saved Post</a>
    <a class="nav-link text-secondary" href="#"><i class="fa fa-cog px-2" aria-hidden="true"></i>Settings</a>
    <h6 class="mb-2 mt-3">Account</h6>
    <img class="mt-3" src="../../../../../assets/images/left-side-img.png" width="150">
    </div>  
    
   
</div>   
